name: learn-github-actions
run-name: ${{ github.actor }} is learning GitHub Actions
on: [push]

jobs:
  # --- JOB 1: Chạy trên GitHub Hosted Runner ---
  check-bats-version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
      - run: npm install -g bats
      - run: bats -v

  # --- JOB 2: Chạy trên K8s Self-Hosted Runner ---
  build:
    runs-on: self-hosted
    
    steps:
      - uses: actions/checkout@v4
      - name: Runner check
        run: echo "Successfully ran on the custom K8s runner!"